<footer>
    <div class="bg-slate-950 text-slate-50 text-center py-4">
      <p>
        <a href="https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset" target="_blank" class="hover:opacity-[0.8]">Dataset Source</a> | A website by <a href="https://iabhinavj.com" target="_blank" class="hover:opacity-[0.8]">Abhinav Jain</a>
      </p>
    </div>
  </footer>